@model Ensino.Web.Models.TurmaAluno

@{
    ViewBag.Title = "Alunos da Turma";
}

using (Html.BeginForm())
{
@Html.AntiForgeryToken()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ID)
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2 control-label">Turma</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.TurmaID, new SelectList(Ensino.Web.Business.Regras.ListaTurma(), "ID", "Nome", Model.TurmaID), new { @class = "form-control input-lg" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Aluno</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.AlunoID, new SelectList(Ensino.Web.Business.Regras.ListaAluno(), "ID", "Nome", Model.AlunoID), new { @class = "form-control input-lg" })
            </div>
        </div>
        
            <div class="form-group">
                @Html.LabelFor(model => model.DataIngresso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.DataIngresso, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DataIngresso, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label class="cr-styled">
                    <input checked="@(Model.Ativo)" id="Ativo" name="Ativo.Enabled" type="checkbox" value="true" />
                    <i class="fa"></i>
                    Ativo
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
}

<div>
    @Html.ActionLink("Voltar", "Index", "Turma")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
