@model Ensino.Web.Models.Turma

@{
    ViewBag.Title = "Turma";
}

<h2>Turma</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

    </dl>
</div>

<h2>Alunos da Turmas</h2>

<p>
    <button onclick="location.href='@Url.Action("Create", "TurmaAluno")'" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Novo Aluno</button>
</p>
<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            Aluno
        </th>
        <th>
            Data de Ingresso
        </th>
        <th>
           Ativo
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model.ListaTurmaAluno)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluno.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataIngresso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
     
            <td>
                <button onclick="location.href='@Url.Action("Edit", "TurmaAluno", new { id = item.ID } )'" type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Ediar </button>
                <button onclick="location.href='@Url.Action("Details", "TurmaAluno", new { id = item.ID })'" type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Detalhes </button>
                <button onclick="location.href='@Url.Action("Delete", "TurmaAluno", new { id = item.ID })'" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Deletar </button>
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
